<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>列表</title>
  <script src="/scripts/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/scripts/layui/css/layui.css">
  <link rel="stylesheet" href="/styles/index.css">
  <script src="/scripts/layui/layui.js"></script>
</head>
<body>

<div class="container">
  <div class="header">
    <button type="button" class="layui-btn" id="addNew">新增</button>
  </div>
  <div class="body">
    <table lay-filter="demo" style="width: 100%">
      <thead>
      <tr>
        <th lay-data="{field:'bookName', width:150,unresize:true}">书名</th>
        <th lay-data="{field:'desc', width:200}">大小</th>
        <th lay-data="{field:'image'}">封面</th>
        <th lay-data="{field:'image', width:80}">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book: ${books}">
        <td><a th:href="@{/detail(path=${book.path})}" th:text="${book.title}" style="color: blue;cursor: pointer"></a>
        </td>
        <td><span th:text="${book.size}"></span></td>
        <td><span th:text="${book.covertImage}"></span></td>
        <td><span onclick="deleteBook(this)" th:data="${book.title}" style="cursor: pointer;color: blue">删除</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div id="books" style="display: none">
    <ul>
      <li th:each="book: ${books}">
        <a th:href="@{/detail(path=${book.path})}" th:text="${book.title}"></a>
        <span th:text="${book.size}"></span>
        <div>
          <span th:text="${book.covertImage}"></span>
        </div>
      </li>
    </ul>
  </div>

  <div id="addNform" style="display: none;">
    <div style="width: 800px">
      <div class="layui-form-item">
        <label class="layui-form-label">文件:</label>
        <div class="layui-input-block">
          <input id="fileInput" type="file">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">书名:</label>
        <div class="layui-input-block">
          <input id="bookName" type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">作者:</label>
        <div class="layui-input-block">
          <input id="authorName" type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">描述:</label>
        <div class="layui-input-block">
          <textarea id="desc" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">封面:</label>
        <div class="layui-input-block">
          <input id="coverImg" type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/scripts/main.js"></script>
</body>
</html>
